[Desktop Entry]
Version=1.0
Type=Application
Name=LG Buddy
Comment=Control LG TV OLED Pixel Brightness
Exec=/usr/bin/lg-buddy brightness
Icon=io.github.staphylococcus.LGBuddy
Terminal=false
Categories=Utility;
